.header {
  top: 0;
  left: 0;
  right: 0;
  height: var(--header-height);
  background-color: var(--background-main); 

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-sm) var(--spacing-lg);
  z-index: 1000;
}

.header__logo {
  width: 130px;
  height: 52px;
}

.header__favorites {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
}

.header__favorites-count {
  font-family: var(--font-main);
  font-size: 24px;
  line-height: 28px;
  color: var(--color-text);
}

.header__favorites-icon {
  width: 24px;
  height: 21.68px;
}

